html {
  font-size: 16px;
}

body {
  font-size: 1.2rem;
  padding-top: 1%;
  background-color: #d0e9ff;
  font-family: "Tacoma";
}

@media (max-width: 600px) {
  body {
    font-size: 1rem;
  }
}

.short-input {
  width: 4em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: #0A2AC1;
}

a:hover {
  color: #0F0FAF;
}

/**
Loading icon
**/

#loading-background {
  background-color: rgba(255, 23, 55, 0.77);
  width: 20%;
  margin: auto
}
#loading {
  display: block;
  margin: auto;
  height: 1.3em;  
}


/**
Menu List
**/
#menu-list {
  list-style-type: none;
}

.category, .mealname {
  color: #433C3C;
}
.Euro {
  background-color: rgba(77, 150, 255, 0.83);
}

.Expo {
  background-color: rgba(252, 155, 114, 0.84);
}

.Fusion {
  background-color: rgba(252, 206, 96, 0.87);
}

.Grill {
  background-color: rgba(254, 89, 89, 0.83);
}

.DINNER {
  background-color: rgba(210, 203, 0, 0.5);
}

.LUNCH {
  background-color: rgba(255, 113, 255, 0.5);
}

.BREAKFAST {
  background-color: rgba(144, 214, 0, 0.5);
}